<div class="container">
  <h2 class="text-center">What is your next trip?</h2>
  <div class="row">
    <% data.cities.each do |city| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card grow">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city.name.downcase %>');">
          <div class="card-category"><h3><%= city.name %></h3></div>
          <img src="https://kitt.lewagon.com/placeholder/users/sagnieresy" alt="Avatar" class="avatar">
          <div class="card-description">
            <h2>Fun fact</h2>
            <p><%= city.description %></p>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-date">
            <p>Posted on <%= Date.today.strftime("%B %Y") %></p>
          </div>
          <div class="card-links">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
